body {
	background: #fff url('../img/background.png') top left no-repeat;
	color: #000;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.wrapper {
	margin: 1rem;
	max-width: 61rem;
}
.thincolumn {
	max-width: 11rem;
}
.masthead {
	height: 11rem;
}
.main {

}
.colophon {

}

#header {
}
#header .site-name {
	margin-top: 1rem;
}
#header .site-name a {
	color: black;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
#header .site-slogan {
	margin-top: -0.5rem;
}
#sidebar {
}
#footer {
	border-top: 1px solid black;
	margin-top: 1rem;
	padding-top: 1rem;
	width: 100%;
}