@import 'partials/_colors.scss';

body {
	background: #fff url('../img/background.png') top left no-repeat;
	color: $bodycolor;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.wrapper {
	margin: 1rem;
	max-width: 61rem;
}
.thincolumn {
	max-width: 12rem;
}
.logocolumn {
	max-width: 9rem;
}
.masthead {
	height: 11rem;
}
.main {

}
.colophon {

}

#header {
	#block-dpm-classy-branding {
		.site-name {
			color: $mastcolor;
			font-family: "Literata", serif;
			margin-top: 1rem;

			a {
				color: $mastcolor;
				font-size: 2rem;
				font-weight: bold;
				text-decoration: none;
			}
		}
		.site-slogan {
			color: $mastcolor;
			font-family: "DM Sans", serif;
			font-size: 1rem;
			margin-top: 0.25rem;
		}
	}
}

#sidebar {
}

#footer {
	border-top: 1px solid black;
	margin-top: 1rem;
	padding-top: 1rem;
	width: 100%;
}

@import 'partials/_responsive.scss';
