// Default colors

// MastColor is for text in the masthead.
$mastcolor:   #000000;

// TitleColor is for h1 elements.
$titlecolor:  #765013;

// SubColor is for all subheadings.
$subcolor:    #4B5C23;
$bodycolor:   #555753;
$linkcolor:   #005bb7;
