h1 {
	color: #765013;
	font-size: 14px;
	font-weight: 700;
}

h2 {
	color: #4B5C23;
	font-size: 13px;
	font-weight: 700;
}

h3 {
	color: #4B5C23;
	font-size: 12px;
	font-weight: 700;
}

h4 {
	color: #555753;
	font-size: 12px;
	font-weight: 700;
}

p {
}

li {
}

ol {
}

ul {
	padding-left: 2rem;
	list-style-image: url('../img/bullet-arrow-transparent.png');
}

table {
	border: 1px solid #000066;
}

td {
	background-color: #f8f8f3;
}

th {
	background-color: #e9e9d1;
}
