@import '_colors.scss';

h1 {
	color: $titlecolor;
	font-size: 14px;
	font-weight: 700;
}

h2 {
	color: $subcolor;
	font-size: 13px;
	font-weight: 700;
}

h3 {
	color: $subcolor;
	font-size: 12px;
	font-weight: 700;
}

h4 {
	color: $subcolor;
	font-size: 12px;
	font-weight: 700;
}
h5 {
	color: $subcolor;
}
h6 {
	color: $subcolor;
}

a {
	color: $linkcolor;
}
p {
}

li {
}

ol {
}

ul {
	padding-left: 2rem;
	list-style-image: url('../img/bullet-arrow-transparent.png');
}

table {
}

td {
	background-color: #f8f8f3;
	padding: 1rem;
}

th {
	background-color: #e9e9d1;
	padding: 1rem;
}
